<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SUBMENU</title>

    <link rel="stylesheet" href="../../static/css/calendar/modal.css">
</head>
<body>

<button id="openRegionModal">지역선택</button>

<div id="regionModalOverlay" class="modal-overlay">

    <div class="modal-container">
        <h2>지역 선택</h2>

        <div id="regionButtons"></div>
        <p id="result"></p>

        <button id="closeRegionModal">닫기</button>
    </div>
</div>

<script src="../../static/js/busan/BusanGuList.js"></script>
<script src="../../static/js/busan/region.js"></script>
<script src="../../static/js/busan/modal.js"></script>

</body>
</html>
