.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: #fff;
    width: 300px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.btns {
    margin-top: 15px;
    text-align: right;
}
